/* Nova Card CSS */
@tailwind components;
@tailwind utilities;

.dp__theme_dark {
    --dp-background-color: #0f172a !important;
    --dp-text-color: #f3f4f6;
    --dp-hover-color: #374151;
    --dp-hover-text-color: #ffffff;
    --dp-primary-color: #3b82f6;
    --dp-primary-text-color: #ffffff;
    --dp-border-color: #4b5563;
    --dp-menu-border-color: #4b5563;
    --dp-icon-color: #9ca3af;
}
